<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  </configSections>
  <dataConfiguration defaultDatabase="AudioLogger"/>
  <connectionStrings>
    <add name="AudioLogger" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=AudioLogger;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" traceOutputOptions="DateTime" initializeData="RecordingService.log"/>
        <remove name="Default"/>
      </listeners>
    </trace>
    <switches>
      <add name="TraceLevelSwitch" value="0"/>
    </switches>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
